@using EventFinder2021.Web.ViewModels.EventViewModels
@using EventFinder2021.Data.Models.Enums
@model CreateEventInputModel

<form method="post" enctype="multipart/form-data">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="@Model.Name" />
    </div>
    <div>
        <label asp-for="Description"></label>
        <textarea asp-for="Description"></textarea>
    </div>
    <div>
        <label asp-for="City"></label>
        <select asp-for="@Model.City" asp-items="@Html.GetEnumSelectList<City>()"></select>
    </div>
    <div>
        <label asp-for="Category"></label>
        <select asp-for="@Model.Category" asp-items="@Html.GetEnumSelectList<Category>()"></select>
    </div>
    <div>
        <label asp-for="Date"></label>
        <input asp-for="@Model.Date" />
    </div>
    <div>
        <label asp-for="Image"></label>
        <input asp-for="@Model.Image" />
    </div>
    <div>
        
        <button type="submit" class="btn btn-success" />
    </div>
</form>