@using EventFinder2021.Web.ViewModels.EventViewModels
@using Microsoft.AspNetCore.Identity
@using EventFinder2021.Data.Models
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf


@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model EventViewModel
@{
    var currentUserId = this.UserManager.GetUserId(this.User);
}
<body onload="GoingNotGoing()" id="@Model.Id" class="table-responsive">
    <link rel="stylesheet" href="~/css/ComentariesCSS.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/PostCommentary.css" asp-append-version="true" />
    <div class="justify-content-xl-center">
        <h2 class="text-center">@Model.Name</h2>
        <hr />
        <div class="display-2">
            <a class="event-image image-lightbox modal-dialog-centered" data-imagelightbox="image" title="The games of our grandparents in the museum">
                <img src="@Model.ImageUrl" title="@Model.Name" class="img-fluid mx-auto">
            </a>
        </div>
        <div>
            <p class="justify-content-center">Category: @Model.Category</p>
            <p class="justify-content-center">City: @Model.City</p>
            <p class="justify-content-center">Date: @Model.Date</p>
        </div>
        <div class="custom-control-inline">
            <ul class="starss">
                <li class="star-fill d-inline-block" id="1"><i class="fas fa-star"></i></li>
                <li class="star-fill d-inline-block" id="2"><i class="fas fa-star"></i></li>
                <li class="star-fill d-inline-block" id="3"><i class="fas fa-star"></i></li>
                <li class="star-fill d-inline-block" id="4"><i class="fas fa-star"></i></li>
                <li class="star-fill d-inline-block" id="5"><i class="fas fa-star"></i></li>
                <li class="d-inline-block"><span id="averageVoteGrade">@Model.VotesAverageGrade<span> / 5</span></span></li>
            </ul>
        </div>
        <div id="contentpics">
            <h3></h3>
            <div class="post-gallery">
                <div class="row">
                </div>
            </div>
        </div>
        <div>
            <div id="btnSuccess" style="display:inline">
                <button id="goingButton" class="btn-success">Going @Model.GoingUsers</button>
            </div>
            <div id="btn-danger" style="display:inline">
                <button id="notGoingButton" type="submit" class="btn-danger">Not Going @Model.NotGoingUsers </button>
            </div>
        </div>

    </div>

    <hr />
    <div class="text-sm-left">
        <p class="text-break"> @Model.Description</p>

    </div>
    <hr />
    <div>
        <div>
            <span>
                <a id="displayComments" class="btn btn-primary">See comments</a>
            </span>
            <span class="">
                <a class="btn btn-primary" id="WriteCommentary">Write commentary</a>
            </span>
        </div>
    </div>
    <script src="~/js/EventView.js"></script>
</body>