@using EventFinder2021.Web.ViewModels.EventViewModels
@model ListEventViewModel

<head>
    @this.ViewData["Title"]
</head>

<body>
    <h1 class="text-lg-center text-black-50">My Events</h1>
    <hr />
    <div>
        <div>
        </div>
        <div class="col-md-12">
            <table>
                <tbody>
                    @foreach (var currEvent in Model.Events)
                    {
                        <tr class="border-bottom">
                            <td>
                                <div>
                                    <img src="@currEvent.ImageUrl" class="mr-4" width="130">
                                </div>
                                <div>
                                    <a asp-controller="Event" asp-action="EventView" asp-route-id="@currEvent.Id" class="card-title">@currEvent.Name</a>
                                    <p>@currEvent.Category</p>
                                </div>
                                <div class="d-inline">
                                    <a asp-controller="Event" asp-action="Edit" asp-route-id="@currEvent.Id" class=" btn bg-info">Edit</a>
                                    <form method="post">
                                        <button type="submit" asp-action="DeleteEvent" asp-route-id="@currEvent.Id" class="btn bg-danger">Delete</button>
                                    </form>
                                </div>
                            </td>
                            <td class="col">
                                <p>  @currEvent.Description</p>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>