@using EventFinder2021.Web.ViewModels.EventViewModels
@model ListEventViewModel

<head>
</head> 

<body>
    <div>
        <div>
        </div>
        <div class="col-md-6">
            <table>
                <tbody>
                    @foreach (var currEvent in Model.Events)
                    {
                        <tr>
                            <td>
                                <div>
                                    <img src="@currEvent.ImageUrl" class="mr-3" width="100">
                                </div>
                                <div>
                                    <a asp-controller="Event" asp-action="EventView" asp-route-id="@currEvent.Id" class="card-title">@currEvent.Name</a>
                                    <p>@currEvent.Category</p>
                                </div>
                            </td>
                            <td>
                                @currEvent.Description
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>