@using EventFinder2021.Web.ViewModels.ComentaryModels
@using Microsoft.AspNetCore.Identity
@using EventFinder2021.Data.Models
@inject UserManager<ApplicationUser> UserManager
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf

@{
    var currentUserId = this.UserManager.GetUserId(this.User);
    var comentary = new ComentaryViewModel();
    var reply = new ReplyViewModel();
    var replies = new List<ReplyViewModel>();
}
@functions
{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
@model List<ComentaryViewModel>

<body onload="Like()">
    <table class="col-md-8  justify-content-md-center border-info">
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                comentary = Model[i];
                replies = comentary.Replies.ToList();
                <tr class="bg-primary ">
                    <td>
                        <div class="_2b05">@comentary.UserName</div>
                    </td>
                </tr>
                <tr class="bg-success flex-md-fill">
                    <td class=" table-bordered">
                        <div>@comentary.Content</div>
                    </td>
                </tr>
                <tr>    
                    <td class="@comentary.ComentaryId">
                        <button id="@comentary.ComentaryId" type="submit" name="LikeComentary" class="btn-success" value="@comentary.ComentaryId">Like @comentary.LikesCount</button>
                    </td>
                    <td>
                        <button name="DislikeComentary" id="@comentary.ComentaryId" type="submit" class="btn-danger" value="@comentary.ComentaryId">Dislike @comentary.DislikesCount</button>
                    </td>
                </tr>

                @for (int j = 0; j < replies.Count; j++)
                {
                    reply = replies[j];

                    <tr>
                        <td>
                            <div> @reply.UserName</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button name="LikeReply" id="@reply.ReplyId" type="submit" class="btn-success" value="@reply.ReplyId">Like @reply.ReplyLikesCount</button>
                        </td>
                        <td>
                            <button name="DislikeReply" id="@reply.ReplyId" type="submit" class="btn-danger" value="@reply.ReplyId">Dislike @reply.ReplyDislikesCount</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>@reply.Content</div>
                        </td>
                    </tr>
                }

                <tr>
                    <td>
                        <a class="btn" asp-controller="Reply" asp-action="WriteReply" asp-route-id="@comentary.ComentaryId">Reply</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>



</body>
<script src="~/js/comentaries.js"></script>