@using EventFinder2021.Services.Models
@model PostComentaryModel

<body>
    <form method="post">
        <div class="form-group">
            <label asp-for="@Model.Content">Enter your comment.</label>
            <textarea class="form-control" asp-for="@Model.Content"></textarea>
        </div>

        <div class="form-group">
            <input type="hidden" value="@Model.UserId" asp-for="@Model.UserId" />
        </div>
        <div class="form-group">
            <input type="hidden" value="@Model.EventId" asp-for="@Model.EventId" />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </form>
</body>